* {
    margin: 0;
    padding: 0;
}

/* .hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.0)), url("Images/jelle-de-gier-SpP2HMH8_7s-unsplash.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 2000px;
    height: 160px;
    resize: both;
    overflow: scroll;

}

.hero-text {
    color: white;
} */